In [14]:
import pandas as pd
import numpy as np
from datetime import datetime

today = ''.join(str(datetime.date(datetime.today())).split('-'))
with open (f'log_dummy/20220809', encoding='UTF8') as f:
    records = [line.rstrip().split(' ') for line in f]
columns = ['date', 'time', 'building', 'floor', 'token', 'trash_type', 'rfid', 'amount']
df = pd.DataFrame(records, columns=columns)

In [15]:
df['hour'] = df.time.str[:2]

In [16]:
right_data = df.drop_duplicates(subset=['token'])

In [17]:
left_data = df.groupby(['token', 'hour']).date.count().unstack(fill_value=0)

In [20]:
left_data.reset_index(inplace=True)

In [22]:
left_data.index.name = "pk"

In [35]:
left_data.columns = labels

In [36]:
left_data['total'] = left_data.sum(numeric_only=True, axis=1)

In [37]:
left_data.merge(right_data, on='token')

,token,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,hour_06,hour_07,hour_08,...,hour_23,total,date,time,building,floor,trash_type,rfid,amount,hour
0,11CAN13,1,2,2,3,3,5,1,1,3,...,4,61,20220809,22:18:28,공학관,1,PET,0000000974,0.5766113950349654,22
1,11GER11,2,1,2,1,2,4,8,1,3,...,2,65,20220809,06:04:03,공학관,1,CAN,0000000561,0.9068918097025405,06
2,11GLA14,3,3,2,3,4,0,3,3,2,...,2,63,20220809,21:42:13,공학관,1,PET,0000000962,0.34731591577155707,21
3,11PET12,4,3,3,3,1,5,4,1,3,...,2,71,20220809,11:01:01,공학관,1,PET,0000000094,0.5986667248214685,11
4,11PPR15,1,1,5,1,3,2,4,1,3,...,3,78,20220809,16:16:17,공학관,1,CAN,0000000664,0.42687328948114467,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,5B2CAN128,2,8,3,3,2,3,3,4,5,...,1,67,20220809,02:39:00,중앙도서관,B2,GLA,0000000514,0.8109307577737745,02
146,5B2GER126,1,3,2,4,3,5,2,3,2,...,4,59,20220809,22:32:10,중앙도서관,B2,CAN,0000000586,0.30817939409593764,22
147,5B2GLA129,5,2,3,6,1,3,4,3,4,...,2,68,20220809,08:54:28,중앙도서관,B2,PPR,0000000491,0.04445499973590805,08
148,5B2PET127,3,0,2,4,3,2,4,3,6,...,4,62,20220809,02:33:24,중앙도서관,B2,GLA,0000000349,0.9663294913617863,02
149,5B2PPR130,4,2,2,3,2,3,4,3,3,...,4,61,20220809,06:09:07,중앙도서관,B2,GLA,0000000044,0.009182741863171251,06

In [3]:
right_data = df.drop_duplicates(subset=['token'])

In [10]:
th = df.groupby(['token', 'hour']).date.count().unstack(fill_value=0)

In [12]:
th.reset_index(inplace=True)

In [13]:
th

hour,token,00,01,02,03,04,05,06,07,08,...,14,15,16,17,18,19,20,21,22,23
0,11CAN13,1,2,2,3,3,5,1,1,3,...,3,4,5,4,4,3,2,2,2,4
1,11GER11,2,1,2,1,2,4,8,1,3,...,3,4,2,4,1,4,1,2,4,2
2,11GLA14,3,3,2,3,4,0,3,3,2,...,4,5,4,3,0,2,4,2,1,2
3,11PET12,4,3,3,3,1,5,4,1,3,...,4,3,4,1,1,6,2,3,2,2
4,11PPR15,1,1,5,1,3,2,4,1,3,...,1,5,5,5,5,5,3,4,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,5B2CAN128,2,8,3,3,2,3,3,4,5,...,2,4,2,3,1,3,1,3,1,1
146,5B2GER126,1,3,2,4,3,5,2,3,2,...,5,1,2,3,2,1,1,2,5,4
147,5B2GLA129,5,2,3,6,1,3,4,3,4,...,2,2,1,0,1,2,2,2,4,2
148,5B2PET127,3,0,2,4,3,2,4,3,6,...,0,3,4,1,3,1,1,4,4,4
149,5B2PPR130,4,2,2,3,2,3,4,3,3,...,3,5,3,0,4,2,2,4,1,4

In [ ]:
trans = th.date.count()

In [ ]:
datas = trans.unstack(fill_value=0)

In [ ]:
datas.reset_index(inplace=True)

In [ ]:
datas.index.name = 'pk'

In [ ]:
datas

In [23]:
labels = ['token', 'hour_00','hour_01','hour_02','hour_03','hour_04','hour_05','hour_06','hour_07','hour_08','hour_09','hour_10','hour_11','hour_12','hour_13','hour_14','hour_15','hour_16','hour_17','hour_18','hour_19','hour_20','hour_21','hour_22','hour_23']

In [ ]:
datas.columns = labels

In [ ]:
datas["total"] = datas.sum(numeric_only=True, axis=1)

In [ ]:
datas

In [ ]:
left_data = datas

In [ ]:
right_data = df

In [38]:
new_df = left_data.merge(right_data, on='token', )

In [42]:
new_df.drop(columns=["time", "rfid", "amount", "hour"], inplace=True)

In [48]:
new_df.token.astype('str')

0        11CAN13
1        11GER11
2        11GLA14
3        11PET12
4        11PPR15
         ...
145    5B2CAN128
146    5B2GER126
147    5B2GLA129
148    5B2PET127
149    5B2PPR130
Name: token, Length: 150, dtype: object

In [52]:
new_df.date.astype('str')

0      20220809
1      20220809
2      20220809
3      20220809
4      20220809
         ...
145    20220809
146    20220809
147    20220809
148    20220809
149    20220809
Name: date, Length: 150, dtype: object

In [53]:
new_df.building.astype('str')

0        공학관
1        공학관
2        공학관
3        공학관
4        공학관
       ...
145    중앙도서관
146    중앙도서관
147    중앙도서관
148    중앙도서관
149    중앙도서관
Name: building, Length: 150, dtype: object

In [54]:
new_df.floor.astype('str')

0       1
1       1
2       1
3       1
4       1
       ..
145    B2
146    B2
147    B2
148    B2
149    B2
Name: floor, Length: 150, dtype: object

In [55]:
new_df.trash_type.astype('str')

0      PET
1      CAN
2      PET
3      PET
4      CAN
      ...
145    GLA
146    CAN
147    PPR
148    GLA
149    GLA
Name: trash_type, Length: 150, dtype: object

In [46]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 149
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   token       150 non-null    object
 1   hour_00     150 non-null    int64
 2   hour_01     150 non-null    int64
 3   hour_02     150 non-null    int64
 4   hour_03     150 non-null    int64
 5   hour_04     150 non-null    int64
 6   hour_05     150 non-null    int64
 7   hour_06     150 non-null    int64
 8   hour_07     150 non-null    int64
 9   hour_08     150 non-null    int64
 10  hour_09     150 non-null    int64
 11  hour_10     150 non-null    int64
 12  hour_11     150 non-null    int64
 13  hour_12     150 non-null    int64
 14  hour_13     150 non-null    int64
 15  hour_14     150 non-null    int64
 16  hour_15     150 non-null    int64
 17  hour_16     150 non-null    int64
 18  hour_17     150 non-null    int64
 19  hour_18     150 non-null    int64
 20  hour_19     150 non-null    int64
 21  hour_20     150 non-null    int64
 22  hour_21     150 non-null    int64
 23  hour_22     150 non-null    int64
 24  hour_23     150 non-null    int64
 25  total       150 non-null    int64
 26  date        150 non-null    object
 27  building    150 non-null    object
 28  floor       150 non-null    object
 29  trash_type  150 non-null    object
dtypes: int64(25), object(5)
memory usage: 36.3+ KB

In [ ]:
js = new_df.to_json(orient='records', force_ascii=False)

In [ ]:
js