In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

today = ''.join(str(datetime.date(datetime.today())).split('-'))
with open (f'log_dummy/20220809', encoding='UTF8') as f:
    records = [line.rstrip().split(' ') for line in f]
columns = ['date', 'time', 'building', 'building_pk', 'floor', 'floor_pk','token', 'trash_type', 'rfid', 'amount']
df = pd.DataFrame(records, columns=columns)

In [2]:
df['hour'] = df.time.str[:2]

In [3]:
right_data = df.drop_duplicates(subset=['token'])

In [4]:
left_data = df.groupby(['token', 'hour']).date.count().unstack(fill_value=0)

In [5]:
left_data.reset_index(inplace=True)

In [6]:
left_data.index.name = "pk"

In [7]:
labels = ['token', 'hour_00','hour_01','hour_02','hour_03','hour_04','hour_05','hour_06','hour_07','hour_08','hour_09','hour_10','hour_11','hour_12','hour_13','hour_14','hour_15','hour_16','hour_17','hour_18','hour_19','hour_20','hour_21','hour_22','hour_23']

In [8]:
left_data.columns = labels

In [9]:
left_data['total'] = left_data.sum(numeric_only=True, axis=1)

In [10]:
new_df = left_data.merge(right_data, on='token')

In [11]:
new_df.drop(columns=['rfid', 'amount', 'hour', 'time'], inplace=True)

In [12]:
new_df['year'] = new_df.date.str[:4]

In [13]:
new_df['month'] = new_df.date.str[4:6]

In [14]:
new_df.date = new_df.date.str[6:]

In [15]:
floor = new_df.groupby(['floor_pk']).sum().reset_index()

In [16]:
trashbin_df = new_df.to_dict(orient='records')

In [17]:
trashbin = new_df.copy()

In [18]:
trashbin.drop(columns=['floor'], inplace=True)

In [19]:
trashbin

,token,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,hour_06,hour_07,hour_08,...,hour_22,hour_23,total,date,building,building_pk,floor_pk,trash_type,year,month
0,11CAN13,0,1,1,0,0,0,3,0,1,...,1,2,20,09,공학관,1,3,PET,2022,08
1,11GER11,1,1,1,0,0,0,1,0,2,...,2,1,19,09,공학관,1,3,CAN,2022,08
2,11GLA14,1,2,0,1,0,1,1,2,2,...,1,0,17,09,공학관,1,3,PET,2022,08
3,11PET12,2,1,1,1,2,1,0,0,1,...,0,1,22,09,공학관,1,3,PET,2022,08
4,11PPR15,1,0,0,0,0,0,1,0,1,...,0,1,18,09,공학관,1,3,CAN,2022,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,5B2CAN128,0,1,0,1,1,0,0,1,0,...,0,2,14,09,중앙도서관,5,26,GLA,2022,08
146,5B2GER126,1,0,0,0,2,1,1,0,1,...,1,1,21,09,중앙도서관,5,26,CAN,2022,08
147,5B2GLA129,1,1,0,0,1,1,2,1,0,...,0,1,25,09,중앙도서관,5,26,PPR,2022,08
148,5B2PET127,2,0,1,0,1,3,0,0,1,...,0,0,21,09,중앙도서관,5,26,GLA,2022,08
149,5B2PPR130,1,0,0,0,1,1,1,1,2,...,0,1,21,09,중앙도서관,5,26,GLA,2022,08

In [20]:
trashbin.rename(columns={'floor_pk':'floor'}, inplace=True)

In [ ]:
trashbin

In [21]:
trashbin.astype({'floor':'int64', 'building_pk': 'int64'})

,token,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,hour_06,hour_07,hour_08,...,hour_22,hour_23,total,date,building,building_pk,floor,trash_type,year,month
0,11CAN13,0,1,1,0,0,0,3,0,1,...,1,2,20,09,공학관,1,3,PET,2022,08
1,11GER11,1,1,1,0,0,0,1,0,2,...,2,1,19,09,공학관,1,3,CAN,2022,08
2,11GLA14,1,2,0,1,0,1,1,2,2,...,1,0,17,09,공학관,1,3,PET,2022,08
3,11PET12,2,1,1,1,2,1,0,0,1,...,0,1,22,09,공학관,1,3,PET,2022,08
4,11PPR15,1,0,0,0,0,0,1,0,1,...,0,1,18,09,공학관,1,3,CAN,2022,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,5B2CAN128,0,1,0,1,1,0,0,1,0,...,0,2,14,09,중앙도서관,5,26,GLA,2022,08
146,5B2GER126,1,0,0,0,2,1,1,0,1,...,1,1,21,09,중앙도서관,5,26,CAN,2022,08
147,5B2GLA129,1,1,0,0,1,1,2,1,0,...,0,1,25,09,중앙도서관,5,26,PPR,2022,08
148,5B2PET127,2,0,1,0,1,3,0,0,1,...,0,0,21,09,중앙도서관,5,26,GLA,2022,08
149,5B2PPR130,1,0,0,0,1,1,1,1,2,...,0,1,21,09,중앙도서관,5,26,GLA,2022,08

In [ ]:
trashbin.info()

In [22]:
trashbin.floor.astype('int', copy=False)

0       3
1       3
2       3
3       3
4       3
       ..
145    26
146    26
147    26
148    26
149    26
Name: floor, Length: 150, dtype: int32

In [ ]:
trashbin

In [ ]:
trashbin.info()

In [ ]:
trashbin_dict = trashbin.to_dict(orient='records')

In [ ]:
trashbin_dict

In [ ]:
a = new_df.astype('str', ('date', 'building'))

In [ ]:
new_df.info()

In [ ]:
trash_dict = trashbin_df.to_dict(orient='records')

In [ ]:
trash_dict

In [30]:
building = trashbin.groupby('building_pk').sum().reset_index()

In [31]:
building

,building_pk,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,hour_06,hour_07,hour_08,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,total
0,1,28,27,31,32,19,29,31,21,26,...,18,32,24,21,21,24,24,23,24,602
1,2,22,31,26,24,19,23,25,17,12,...,25,21,23,23,13,28,24,22,31,547
2,3,22,27,21,20,30,23,28,29,29,...,21,38,26,19,24,32,24,32,25,611
3,4,30,24,30,27,32,27,25,30,24,...,24,32,26,24,27,30,22,22,27,642
4,5,25,21,19,14,25,23,30,25,23,...,27,26,22,29,19,27,33,17,33,598

In [26]:
floor = new_df.groupby(['building_pk', 'floor_pk']).sum().reset_index()

In [27]:
floor

,building_pk,floor_pk,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,hour_06,hour_07,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,total
0,1,1,5,3,4,5,4,4,6,4,...,2,3,7,6,5,4,5,2,4,101
1,1,2,7,3,5,3,4,9,5,5,...,4,6,3,2,2,3,5,6,2,114
2,1,3,5,5,3,2,2,2,6,2,...,5,4,4,4,5,6,4,4,5,96
3,1,4,2,5,5,7,3,2,1,4,...,1,7,4,2,2,5,3,5,5,90
4,1,5,6,6,9,8,2,4,6,4,...,6,6,3,2,5,1,1,4,6,100
5,1,6,3,5,5,7,4,8,7,2,...,0,6,3,5,2,5,6,2,2,101
6,2,10,4,7,4,4,2,4,3,4,...,5,4,4,5,0,1,2,4,4,83
7,2,11,4,8,6,4,3,2,4,5,...,3,4,5,5,1,5,3,5,8,108
8,2,12,3,3,6,5,2,4,3,0,...,7,5,4,4,6,5,1,4,5,82
9,2,7,5,4,2,6,1,2,3,2,...,3,3,4,1,3,6,7,4,3,92
10,2,8,4,7,5,4,7,7,6,4,...,4,4,1,5,1,5,6,2,4,100
11,2,9,2,2,3,1,4,4,6,2,...,3,1,5,3,2,6,5,3,7,82
12,3,13,4,3,5,3,6,3,6,3,...,3,7,5,5,3,5,2,5,5,103
13,3,14,3,3,6,3,4,4,6,4,...,7,3,7,4,5,3,7,2,5,112
14,3,15,2,6,3,3,4,4,6,5,...,1,5,1,3,4,7,6,6,4,97
15,3,16,3,4,4,3,8,1,3,4,...,4,3,5,1,5,10,4,6,5,100
16,3,17,6,7,0,8,2,4,4,5,...,3,11,5,3,3,4,3,7,4,105
17,3,18,4,4,3,0,6,7,3,8,...,3,9,3,3,4,3,2,6,2,94
18,4,19,4,3,4,6,8,2,7,4,...,5,7,1,8,5,7,3,4,5,117
19,4,20,3,4,7,3,6,10,3,3,...,3,3,6,4,7,4,3,5,5,111
20,4,21,5,5,5,3,6,3,0,6,...,3,2,9,2,2,6,4,4,3,99
21,4,22,5,1,5,2,5,6,7,6,...,8,7,1,4,5,7,2,3,5,109
22,4,23,6,5,6,3,2,4,4,3,...,4,5,3,4,4,3,4,4,7,104
23,4,24,7,6,3,10,5,2,4,8,...,1,8,6,2,4,3,6,2,2,102
24,5,25,5,5,3,1,6,5,7,5,...,3,7,3,4,5,6,6,3,6,113
25,5,26,5,2,1,1,6,6,4,3,...,4,4,6,8,2,5,6,1,5,102
26,5,27,5,4,5,3,1,0,10,2,...,8,5,6,5,0,8,2,4,6,102
27,5,28,2,3,1,3,4,4,1,2,...,3,2,2,5,5,5,8,4,7,86
28,5,29,4,3,6,2,2,7,4,10,...,3,7,0,5,0,3,8,1,3,105
29,5,30,4,4,3,4,6,1,4,3,...,6,1,5,2,7,0,3,4,6,90

In [ ]:
floor_dict = floor.to_dict(orient='records')

In [ ]:
floor_dict

In [ ]:
new_dict = new_df.to_dict(orient='records')

In [ ]:
new_dict

In [ ]:
type(new_dict)

In [ ]:
right_data = df.drop_duplicates(subset=['token'])

In [ ]:
th = df.groupby(['token', 'hour']).date.count().unstack(fill_value=0)

In [ ]:
th.reset_index(inplace=True)

In [ ]:
th

In [ ]:
trans = th.date.count()

In [ ]:
datas = trans.unstack(fill_value=0)

In [ ]:
datas.reset_index(inplace=True)

In [ ]:
datas.index.name = 'pk'

In [ ]:
datas

In [ ]:
datas.columns = labels

In [ ]:
datas["total"] = datas.sum(numeric_only=True, axis=1)

In [ ]:
datas

In [ ]:
left_data = datas

In [ ]:
right_data = df

In [ ]:
new_df = left_data.merge(right_data, on='token', )

In [ ]:
new_df.drop(columns=["time", "rfid", "amount", "hour"], inplace=True)

In [ ]:
new_df.token.astype('str')

In [ ]:
new_df.date.astype('str')

In [ ]:
new_df.building.astype('str')

In [ ]:
new_df.floor.astype('str')

In [ ]:
new_df.trash_type.astype('str')

In [ ]:
new_df.info()

In [ ]:
js = new_df.to_json(orient='records', force_ascii=False)

In [ ]:
js