In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

today = ''.join(str(datetime.date(datetime.today())).split('-'))
with open (f'log_dummy/20220809', encoding='UTF8') as f:
    records = [line.rstrip().split(' ') for line in f]
columns = ['date', 'time', 'building', 'building_pk', 'floor', 'floor_pk','token', 'trash_type', 'rfid', 'amount']
df = pd.DataFrame(records, columns=columns)

In [60]:
df['hour'] = df.time.str[:2]

In [4]:
right_data = df.drop_duplicates(subset=['token'])

In [5]:
left_data = df.groupby(['token', 'hour']).date.count().unstack(fill_value=0)

In [7]:
left_data.reset_index(inplace=True)

In [9]:
labels = ['token', 'hour_00','hour_01','hour_02','hour_03','hour_04','hour_05','hour_06','hour_07','hour_08','hour_09','hour_10','hour_11','hour_12','hour_13','hour_14','hour_15','hour_16','hour_17','hour_18','hour_19','hour_20','hour_21','hour_22','hour_23']

In [10]:
left_data.columns = labels

In [12]:
left_data['total'] = left_data.sum(numeric_only=True, axis=1)

In [13]:
new_df = left_data.merge(right_data, on='token')

In [68]:
year = new_df.loc[0, 'date'][:4]
month = new_df.loc[0, 'date'][4:6]
day = new_df.loc[0, 'date'][6:]

In [17]:
new_df

,token,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,hour_06,hour_07,hour_08,...,date,time,building,building_pk,floor,floor_pk,trash_type,rfid,amount,hour
0,11CAN13,0,1,1,0,0,0,3,0,1,...,20220809,13:32:26,공학관,1,1,3,PET,0000000538,0.17913887300880227,13
1,11GER11,1,1,1,0,0,0,1,0,2,...,20220809,15:19:49,공학관,1,1,3,CAN,0000000747,0.3089887009898854,15
2,11GLA14,1,2,0,1,0,1,1,2,2,...,20220809,00:24:50,공학관,1,1,3,PET,0000000865,0.321999250538304,00
3,11PET12,2,1,1,1,2,1,0,0,1,...,20220809,01:14:18,공학관,1,1,3,PET,0000000339,0.6933798687498762,01
4,11PPR15,1,0,0,0,0,0,1,0,1,...,20220809,23:49:40,공학관,1,1,3,CAN,0000000264,0.6128823478019312,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,5B2CAN128,0,1,0,1,1,0,0,1,0,...,20220809,10:14:05,중앙도서관,5,B2,26,GLA,0000000921,0.18613478486544877,10
146,5B2GER126,1,0,0,0,2,1,1,0,1,...,20220809,22:00:10,중앙도서관,5,B2,26,CAN,0000000083,0.5199960241173804,22
147,5B2GLA129,1,1,0,0,1,1,2,1,0,...,20220809,12:05:40,중앙도서관,5,B2,26,PPR,0000000712,0.8724343019383939,12
148,5B2PET127,2,0,1,0,1,3,0,0,1,...,20220809,02:36:53,중앙도서관,5,B2,26,GLA,0000000721,0.7769165223631259,02
149,5B2PPR130,1,0,0,0,1,1,1,1,2,...,20220809,18:18:33,중앙도서관,5,B2,26,GLA,0000000038,0.5026125602311324,18

In [72]:
trashbin = new_df.copy()
trashbin.drop(columns=['date', 'time', 'building', 'floor', 'rfid', 'amount', 'hour'], inplace=True)

In [32]:
building = new_df.groupby(['building_pk']).sum().reset_index()

In [ ]:
building=building.astype({'building_pk':'int'})

In [33]:
floor = new_df.groupby(['building_pk', 'floor_pk']).sum().reset_index()

In [55]:
floor = floor.astype({'building_pk': 'int', 'floor_pk':'int'})

In [69]:
building['year'] = year
building['month'] = month
building['num'] = day

In [ ]:
floor['year'] = year
floor['month'] = month
floor['num'] = day

In [73]:
trashbin['year'] = year
trashbin['month'] = month
trashbin['num'] = day