In [83]:
import pandas as pd
import numpy as np
from datetime import datetime

today = ''.join(str(datetime.date(datetime.today())).split('-'))
with open (f'log_dummy/20220501', encoding='UTF8') as f:
    records = [line.rstrip().split(' ') for line in f]
columns = ['date', 'time', 'building', 'building_pk', 'floor', 'floor_pk','token', 'trash_type', 'rfid', 'amount']
df = pd.DataFrame(records, columns=columns)

In [84]:
df['hour'] = df.time.str[:2]

In [85]:
df['year'] = df.date.str[:4]

In [86]:
df['month'] = df.date.str[4:6]

In [87]:
df.date = df.date.str[6:]

In [88]:
right_data = df.drop_duplicates(subset=['token'])

In [89]:
left_data = df.groupby(['token', 'hour']).date.count().unstack(fill_value=0)

In [90]:
left_data.reset_index(inplace=True)

In [91]:
labels = ['token', 'hour_00','hour_01','hour_02','hour_03','hour_04','hour_05','hour_06','hour_07','hour_08','hour_09','hour_10','hour_11','hour_12','hour_13','hour_14','hour_15','hour_16','hour_17','hour_18','hour_19','hour_20','hour_21','hour_22','hour_23']

In [92]:
left_data.columns = labels

In [93]:
left_data['total'] = left_data.sum(numeric_only=True, axis=1)

In [94]:
new_df = left_data.merge(right_data, on='token')

In [95]:
types = new_df.drop(columns = ['hour_00','hour_01','hour_02','hour_03','hour_04','hour_05','hour_06','hour_07','hour_08','hour_09','hour_10','hour_11','hour_12','hour_13','hour_14','hour_15','hour_16','hour_17','hour_18','hour_19','hour_20','hour_21','hour_22','hour_23'])

In [96]:
trashbin= new_df.groupby(['year','month','date','building_pk', 'floor_pk','token', 'trash_type']).sum().reset_index()

In [105]:
floor_type = types.groupby(['year','month','date','building_pk', 'floor_pk','trash_type']).total.sum().unstack(fill_value=0)

In [106]:
floor_type.reset_index(inplace=True)

In [107]:
floor_type.drop(columns = ['year', 'month', 'date', 'building_pk'], inplace=True)

In [111]:
floor = new_df.groupby(['year','month','date','building_pk', 'floor_pk']).sum().reset_index()
floor = floor.merge(floor_type, on='floor_pk')

In [112]:
floor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 0 to 21
Data columns (total 35 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         22 non-null     object
 1   month        22 non-null     object
 2   date         22 non-null     object
 3   building_pk  22 non-null     object
 4   floor_pk     22 non-null     object
 5   hour_00      22 non-null     int64
 6   hour_01      22 non-null     int64
 7   hour_02      22 non-null     int64
 8   hour_03      22 non-null     int64
 9   hour_04      22 non-null     int64
 10  hour_05      22 non-null     int64
 11  hour_06      22 non-null     int64
 12  hour_07      22 non-null     int64
 13  hour_08      22 non-null     int64
 14  hour_09      22 non-null     int64
 15  hour_10      22 non-null     int64
 16  hour_11      22 non-null     int64
 17  hour_12      22 non-null     int64
 18  hour_13      22 non-null     int64
 19  hour_14      22 non-null     int64
 20  hour_15      22 non-null     int64
 21  hour_16      22 non-null     int64
 22  hour_17      22 non-null     int64
 23  hour_18      22 non-null     int64
 24  hour_19      22 non-null     int64
 25  hour_20      22 non-null     int64
 26  hour_21      22 non-null     int64
 27  hour_22      22 non-null     int64
 28  hour_23      22 non-null     int64
 29  total        22 non-null     int64
 30  CAN          22 non-null     int64
 31  GER          22 non-null     int64
 32  GLA          22 non-null     int64
 33  PET          22 non-null     int64
 34  PPR          22 non-null     int64
dtypes: int64(30), object(5)
memory usage: 6.2+ KB

In [101]:
building_type = types.groupby(['year','month','date','building_pk','trash_type']).total.sum().unstack(fill_value=0)

In [102]:
building_type.reset_index(inplace=True)

In [103]:
building_type.drop(columns = ['year', 'month', 'date'], inplace=True)

In [104]:
building = new_df.groupby(['year','month','date','building_pk']).sum().reset_index()
building.merge(building_type, on='building_pk')

,year,month,date,building_pk,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,...,hour_20,hour_21,hour_22,hour_23,total,CAN,GER,GLA,PET,PPR
0,2022,05,01,1,6,9,8,7,5,4,...,11,5,7,9,170,48,28,28,23,43
1,2022,05,01,2,8,12,10,11,10,10,...,10,14,10,11,244,44,35,64,43,58
2,2022,05,01,3,16,14,15,6,15,12,...,14,10,18,12,298,46,57,94,48,53
3,2022,05,01,4,2,7,2,5,8,4,...,4,7,3,3,105,12,21,30,9,33
4,2022,05,01,5,11,7,7,6,10,9,...,6,5,5,7,183,33,45,46,26,33

In [1]:
import pandas as pd

In [4]:
from .models import *

ImportError: attempted relative import with no known parent package