In [175]:
import pandas as pd
import numpy as np
from datetime import datetime

today = ''.join(str(datetime.date(datetime.today())).split('-'))
with open (f'log_dummy/20220801', encoding='UTF8') as f:
    records = [line.rstrip().split(' ') for line in f]
columns = ['date', 'time', 'building', 'building_pk', 'floor', 'floor_pk','token', 'trash_type', 'rfid', 'amount']
df = pd.DataFrame(records, columns=columns)

In [176]:
df['hour'] = df.time.str[:2]

In [177]:
df['year'] = df.date.str[:4]

In [178]:
df['month'] = df.date.str[4:6]

In [179]:
df.date = df.date.str[6:]

In [180]:
right_data = df.drop_duplicates(subset=['token'])

In [181]:
left_data = df.groupby(['token', 'hour']).date.count().unstack(fill_value=0)

In [182]:
left_data.reset_index(inplace=True)

In [183]:
labels = ['token', 'hour_00','hour_01','hour_02','hour_03','hour_04','hour_05','hour_06','hour_07','hour_08','hour_09','hour_10','hour_11','hour_12','hour_13','hour_14','hour_15','hour_16','hour_17','hour_18','hour_19','hour_20','hour_21','hour_22','hour_23']

In [184]:
left_data.columns = labels

In [185]:
left_data['total'] = left_data.sum(numeric_only=True, axis=1)

In [186]:
new_df = left_data.merge(right_data, on='token')

In [187]:
types = new_df.drop(columns = ['hour_00','hour_01','hour_02','hour_03','hour_04','hour_05','hour_06','hour_07','hour_08','hour_09','hour_10','hour_11','hour_12','hour_13','hour_14','hour_15','hour_16','hour_17','hour_18','hour_19','hour_20','hour_21','hour_22','hour_23'])

In [189]:
trashbin= new_df.groupby(['year','month','date','building_pk', 'floor_pk','token', 'trash_type']).sum().reset_index()

In [191]:
floor_type = types.groupby(['year','month','date','building_pk', 'floor_pk','trash_type']).total.sum().unstack(fill_value=0)

In [192]:
floor_type.reset_index(inplace=True)

In [193]:
floor_type.drop(columns = ['year', 'month', 'date', 'building_pk'], inplace=True)

In [194]:
floor_hour = new_df.groupby(['year','month','date','building_pk', 'floor_pk']).sum().reset_index()

In [195]:
floor_hour.merge(floor_type, on='floor_pk')

,year,month,date,building_pk,floor_pk,hour_00,hour_01,hour_02,hour_03,hour_04,...,hour_20,hour_21,hour_22,hour_23,total,CAN,GER,GLA,PET,PPR
0,2022,08,01,1,1,3,4,4,4,4,...,3,4,3,2,64,13,8,12,10,21
1,2022,08,01,1,2,8,3,7,5,3,...,1,2,3,5,87,19,17,20,11,20
2,2022,08,01,1,3,2,1,1,2,1,...,3,2,1,3,40,10,6,4,6,14
3,2022,08,01,2,4,1,3,3,2,2,...,1,0,2,0,46,8,22,5,2,9
4,2022,08,01,2,5,1,1,0,2,0,...,1,0,3,0,21,3,0,13,5,0
5,2022,08,01,2,6,3,1,3,4,0,...,1,1,0,3,42,1,9,8,16,8
6,2022,08,01,2,7,4,1,2,0,1,...,2,3,0,1,36,12,3,11,1,9
7,2022,08,01,2,8,1,1,1,3,2,...,2,0,2,0,35,4,7,9,1,14
8,2022,08,01,2,9,2,5,2,3,0,...,4,0,3,4,55,15,8,1,17,14
9,2022,08,01,3,10,1,3,2,1,0,...,2,1,1,1,25,4,0,12,9,0
10,2022,08,01,3,11,0,2,0,2,3,...,0,1,1,1,37,17,2,1,7,10
11,2022,08,01,3,12,4,3,4,3,4,...,3,3,0,2,63,8,6,25,10,14
12,2022,08,01,3,13,3,1,4,1,1,...,4,2,2,1,39,13,0,13,0,13
13,2022,08,01,3,14,1,1,1,0,0,...,0,1,0,1,20,0,15,4,0,1
14,2022,08,01,3,15,2,0,2,1,2,...,2,3,2,2,44,12,3,25,2,2
15,2022,08,01,3,16,2,2,3,2,1,...,1,2,4,2,48,0,8,21,10,9
16,2022,08,01,4,17,7,3,2,2,2,...,4,0,1,1,60,7,8,15,9,21
17,2022,08,01,4,18,2,2,3,1,2,...,3,2,1,2,46,5,10,17,7,7
18,2022,08,01,5,19,3,3,5,3,1,...,4,3,4,5,78,15,8,28,4,23
19,2022,08,01,5,20,1,0,2,2,1,...,3,0,0,0,33,12,5,4,7,5
20,2022,08,01,5,21,0,4,5,3,3,...,1,1,2,0,54,6,19,4,10,15
21,2022,08,01,5,22,1,0,2,1,0,...,2,0,1,4,27,14,6,5,2,0

In [197]:
building_type = new_df_type.groupby(['year','month','date','building_pk', 'trash_type']).sum().reset_index()

In [198]:
building_hour = new_df_hour.groupby(['year','month','date','building_pk']).sum().reset_index()

In [199]:
building_type

    year month date building_pk trash_type  total
0   2022    08   01           1        CAN     42
1   2022    08   01           1        GER     31
2   2022    08   01           1        GLA     36
3   2022    08   01           1        PET     27
4   2022    08   01           1        PPR     55
5   2022    08   01           2        CAN     43
6   2022    08   01           2        GER     49
7   2022    08   01           2        GLA     47
8   2022    08   01           2        PET     42
9   2022    08   01           2        PPR     54
10  2022    08   01           3        CAN     54
11  2022    08   01           3        GER     34
12  2022    08   01           3        GLA    101
13  2022    08   01           3        PET     38
14  2022    08   01           3        PPR     49
15  2022    08   01           4        CAN     12
16  2022    08   01           4        GER     18
17  2022    08   01           4        GLA     32
18  2022    08   01           4        PET     16
19  2022    08   01           4        PPR     28
20  2022    08   01           5        CAN     47
21  2022    08   01           5        GER     38
22  2022    08   01           5        GLA     41
23  2022    08   01           5        PET     23
24  2022    08   01           5        PPR     43

In [201]:
types_building = new_df.groupby(['year','month','date','building_pk', 'trash_type']).sum().reset_index()

In [202]:
types_building

,year,month,date,building_pk,trash_type,hour_00,hour_01,hour_02,hour_03,hour_04,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,total
0,2022,08,01,1,CAN,3,2,4,5,1,...,2,2,2,2,2,0,3,4,2,42
1,2022,08,01,1,GER,3,1,1,2,1,...,0,0,2,0,1,2,1,0,1,31
2,2022,08,01,1,GLA,2,2,4,2,1,...,0,0,1,0,3,1,2,2,3,36
3,2022,08,01,1,PET,1,0,1,2,1,...,0,1,0,0,2,1,1,0,2,27
4,2022,08,01,1,PPR,4,3,2,0,4,...,4,2,2,1,1,3,1,1,2,55
5,2022,08,01,2,CAN,3,2,3,1,0,...,2,1,3,1,1,4,1,3,3,43
6,2022,08,01,2,GER,1,2,3,6,1,...,4,4,3,1,2,2,0,2,3,49
7,2022,08,01,2,GLA,0,1,1,2,1,...,1,3,1,2,5,1,1,3,0,47
8,2022,08,01,2,PET,5,2,2,4,0,...,3,0,3,0,2,0,0,1,1,42
9,2022,08,01,2,PPR,3,5,2,1,3,...,2,4,3,2,2,4,2,1,1,54
10,2022,08,01,3,CAN,2,1,2,2,3,...,1,3,7,4,1,2,0,1,2,54
11,2022,08,01,3,GER,2,3,1,2,2,...,2,2,2,1,0,0,2,1,2,34
12,2022,08,01,3,GLA,7,4,7,5,2,...,2,4,5,5,2,1,8,6,5,101
13,2022,08,01,3,PET,1,2,2,0,0,...,1,1,1,1,2,5,1,1,1,38
14,2022,08,01,3,PPR,1,2,4,1,4,...,2,3,1,3,2,4,2,1,0,49
15,2022,08,01,4,CAN,0,1,2,0,0,...,2,0,0,1,0,0,0,0,0,12
16,2022,08,01,4,GER,0,2,0,0,2,...,0,0,1,2,2,0,1,0,1,18
17,2022,08,01,4,GLA,3,1,1,2,1,...,0,1,1,3,1,3,1,1,2,32
18,2022,08,01,4,PET,3,1,1,0,1,...,0,1,0,3,0,0,0,1,0,16
19,2022,08,01,4,PPR,3,0,1,1,0,...,0,1,1,2,2,4,0,0,0,28
20,2022,08,01,5,CAN,2,3,3,2,0,...,3,1,0,3,1,2,2,1,3,47
21,2022,08,01,5,GER,0,2,3,0,3,...,1,0,2,2,3,3,0,1,3,38
22,2022,08,01,5,GLA,2,0,2,3,1,...,2,2,2,1,5,2,1,1,1,41
23,2022,08,01,5,PET,1,1,0,0,0,...,4,0,1,0,2,2,1,1,0,23
24,2022,08,01,5,PPR,0,1,6,4,1,...,1,4,1,0,2,1,0,3,2,43

In [203]:
types_all = df.groupby(['year','month','date','trash_type']).sum().reset_index()

In [29]:
types_all.drop(columns = ['time', 'building', 'b'])

,year,month,date,trash_type,time,building,building_pk,floor,floor_pk,token,rfid,amount,hour
0,2022,08,09,CAN,11:38:4316:36:4702:49:0816:21:1904:13:1305:32:...,ì¤‘ì•™ë„ì„œê´€ê²½ì˜ëŒ€í•™ê´€ì–´í•™ê´€ê³µí•™ê´€ì²´ìœ¡ê´€ì²´ìœ¡ê´€ê²½ì˜ëŒ€í•™ê´€ì²´ìœ¡ê´€ì–´í•™ê´€ê³µí•™ê´€ê³µí•™ê´€ì²´ìœ¡ê´€ê²½ì˜ëŒ€í•™...,5321443421143113211551342413315334541543111335...,3342B1B1B143112B13224112B22142B121B1B2B222424B...,2917124191913241133221354161233282641524101941...,53PPR14533GER8124CAN5812GER164B1CAN934B1CAN933...,0000000885000000014000000009470000000770000000...,0.0161742199191099440.61705614722354230.111778...,1116021604050318122315201700210417101109222112...
1,2022,08,09,GER,10:40:4809:11:3108:32:5402:23:3706:57:2516:13:...,ì²´ìœ¡ê´€ì¤‘ì•™ë„ì„œê´€ì²´ìœ¡ê´€ì²´ìœ¡ê´€ì¤‘ì•™ë„ì„œê´€ì²´ìœ¡ê´€ì¤‘ì•™ë„ì„œê´€ê³µí•™ê´€ê²½ì˜ëŒ€í•™ê´€ì²´ìœ¡ê´€ì²´ìœ¡ê´€ì–´í•™ê´€ê³µí•™...,4544545134421255144114142423542245423132415222...,34B1111441312411433344B13B1333B11B1B1B1B1132B2...,2330192127213061523211069273052323661951911231...,43PET11254PET1474B1GER9141PPR10551PET13241PPR1...,0000000130000000089600000003930000000931000000...,0.62396834837724760.330625111130431140.3611293...,1009080206160601050202120018062321190912062204...
2,2022,08,09,GLA,06:39:1606:30:1210:04:4923:15:1914:22:0900:28:...,ì–´í•™ê´€ì²´ìœ¡ê´€ê²½ì˜ëŒ€í•™ê´€ì¤‘ì•™ë„ì„œê´€ì²´ìœ¡ê´€ê²½ì˜ëŒ€í•™ê´€ê²½ì˜ëŒ€í•™ê´€ê³µí•™ê´€ì–´í•™ê´€ì²´ìœ¡ê´€ì–´í•™ê´€ê²½ì˜ëŒ€í•™ê´€...,2435433124232522244423354511411343441444333255...,B24B22233B142B24331133B24334B122B1B1B244B2B244...,8241428221717112228181129991123202411171825222...,2B2CAN3844CAN1183B2GLA6952CAN13842CAN10833PPR8...,0000000860000000088900000003570000000851000000...,0.085876928166134460.83111394566259680.0377314...,0606102314001615161603020208231315141919110810...
3,2022,08,09,PET,22:20:2914:32:2222:37:5507:09:4005:35:3708:44:...,ì²´ìœ¡ê´€ì–´í•™ê´€ì²´ìœ¡ê´€ê³µí•™ê´€ì–´í•™ê´€ê²½ì˜ëŒ€í•™ê´€ê²½ì˜ëŒ€í•™ê´€ì–´í•™ê´€ì²´ìœ¡ê´€ì¤‘ì•™ë„ì„œê´€ì¤‘ì•™ë„ì„œê´€ê³µí•™ê´€ì¤‘ì•™...,4241233245515215221251422422215115445455344414...,1B21B11B2B1131414B2B1B1222B2121B24422214123121...,2182119141392327303308125101048274218122410101...,41GLA1042B2PET3741GLA1041B1GER121PPR453B2PPR70...,0000000600000000016000000007840000000847000000...,0.71599621009768350.94611007852187780.17296975...,2214220705080906191319011712050618111621182023...
4,2022,08,09,PPR,11:05:1904:54:4021:23:4103:57:2805:02:5319:56:...,ì¤‘ì•™ë„ì„œê´€ê²½ì˜ëŒ€í•™ê´€ì–´í•™ê´€ê³µí•™ê´€ì¤‘ì•™ë„ì„œê´€ê²½ì˜ëŒ€í•™ê´€ì¤‘ì•™ë„ì„œê´€ê²½ì˜ëŒ€í•™ê´€ê²½ì˜ëŒ€í•™ê´€ê²½ì˜ëŒ€í•™ê´€...,5321535333444244254512233331352455212445252331...,2B1B23B1B2143B2B23B23B2B234323B13434B1B11B133B...,2813852514271817142023201120201130232857111817...,52GER1363B1CAN632B2GER3613PET225B1GLA1243B2GER...,0000000837000000045500000000380000000185000000...,0.45490487233618680.079630707568467680.0697021...,1104210305192021191913150623080210061904112220...

In [14]:
trashbin = new_df.copy()
trashbin.drop(columns=['time', 'building', 'floor', 'rfid', 'amount', 'hour'], inplace=True)

In [15]:
trashbin

,token,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,hour_06,hour_07,hour_08,...,hour_21,hour_22,hour_23,total,date,building_pk,floor_pk,trash_type,year,month
0,11CAN13,0,1,1,0,0,0,3,0,1,...,1,1,2,20,09,1,3,PET,2022,08
1,11GER11,1,1,1,0,0,0,1,0,2,...,3,2,1,19,09,1,3,CAN,2022,08
2,11GLA14,1,2,0,1,0,1,1,2,2,...,0,1,0,17,09,1,3,PET,2022,08
3,11PET12,2,1,1,1,2,1,0,0,1,...,0,0,1,22,09,1,3,PET,2022,08
4,11PPR15,1,0,0,0,0,0,1,0,1,...,0,0,1,18,09,1,3,CAN,2022,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,5B2CAN128,0,1,0,1,1,0,0,1,0,...,0,0,2,14,09,5,26,GLA,2022,08
146,5B2GER126,1,0,0,0,2,1,1,0,1,...,2,1,1,21,09,5,26,CAN,2022,08
147,5B2GLA129,1,1,0,0,1,1,2,1,0,...,2,0,1,25,09,5,26,PPR,2022,08
148,5B2PET127,2,0,1,0,1,3,0,0,1,...,0,0,0,21,09,5,26,GLA,2022,08
149,5B2PPR130,1,0,0,0,1,1,1,1,2,...,2,0,1,21,09,5,26,GLA,2022,08

In [16]:
building = new_df.groupby(['year','month','date','building_pk']).sum().reset_index()

In [17]:
building

,year,month,date,building_pk,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,total
0,2022,08,09,1,28,27,31,32,19,29,...,18,32,24,21,21,24,24,23,24,602
1,2022,08,09,2,22,31,26,24,19,23,...,25,21,23,23,13,28,24,22,31,547
2,2022,08,09,3,22,27,21,20,30,23,...,21,38,26,19,24,32,24,32,25,611
3,2022,08,09,4,30,24,30,27,32,27,...,24,32,26,24,27,30,22,22,27,642
4,2022,08,09,5,25,21,19,14,25,23,...,27,26,22,29,19,27,33,17,33,598

In [65]:
building=building.astype({'building_pk':'int'})

In [18]:
building.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         5 non-null      object
 1   month        5 non-null      object
 2   date         5 non-null      object
 3   building_pk  5 non-null      object
 4   hour_00      5 non-null      int64
 5   hour_01      5 non-null      int64
 6   hour_02      5 non-null      int64
 7   hour_03      5 non-null      int64
 8   hour_04      5 non-null      int64
 9   hour_05      5 non-null      int64
 10  hour_06      5 non-null      int64
 11  hour_07      5 non-null      int64
 12  hour_08      5 non-null      int64
 13  hour_09      5 non-null      int64
 14  hour_10      5 non-null      int64
 15  hour_11      5 non-null      int64
 16  hour_12      5 non-null      int64
 17  hour_13      5 non-null      int64
 18  hour_14      5 non-null      int64
 19  hour_15      5 non-null      int64
 20  hour_16      5 non-null      int64
 21  hour_17      5 non-null      int64
 22  hour_18      5 non-null      int64
 23  hour_19      5 non-null      int64
 24  hour_20      5 non-null      int64
 25  hour_21      5 non-null      int64
 26  hour_22      5 non-null      int64
 27  hour_23      5 non-null      int64
 28  total        5 non-null      int64
dtypes: int64(25), object(4)
memory usage: 1.3+ KB

In [68]:
floor = new_df.groupby(['year','month','date','building_pk', 'floor_pk']).sum().reset_index()

In [71]:
floor = floor.astype({'building_pk': 'int', 'floor_pk':'int'})

In [75]:
building

,year,month,date,building_pk,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,...,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,total,num
0,2022,08,09,1,28,27,31,32,19,29,...,32,24,21,21,24,24,23,24,602,09
1,2022,08,09,2,22,31,26,24,19,23,...,21,23,23,13,28,24,22,31,547,09
2,2022,08,09,3,22,27,21,20,30,23,...,38,26,19,24,32,24,32,25,611,09
3,2022,08,09,4,30,24,30,27,32,27,...,32,26,24,27,30,22,22,27,642,09
4,2022,08,09,5,25,21,19,14,25,23,...,26,22,29,19,27,33,17,33,598,09

In [76]:
building.to_dict(orient='records')

[{'year': '2022',
  'month': '08',
  'date': '09',
  'building_pk': 1,
  'hour_00': 28,
  'hour_01': 27,
  'hour_02': 31,
  'hour_03': 32,
  'hour_04': 19,
  'hour_05': 29,
  'hour_06': 31,
  'hour_07': 21,
  'hour_08': 26,
  'hour_09': 25,
  'hour_10': 16,
  'hour_11': 21,
  'hour_12': 30,
  'hour_13': 30,
  'hour_14': 25,
  'hour_15': 18,
  'hour_16': 32,
  'hour_17': 24,
  'hour_18': 21,
  'hour_19': 21,
  'hour_20': 24,
  'hour_21': 24,
  'hour_22': 23,
  'hour_23': 24,
  'total': 602,
  'num': '09'},
 {'year': '2022',
  'month': '08',
  'date': '09',
  'building_pk': 2,
  'hour_00': 22,
  'hour_01': 31,
  'hour_02': 26,
  'hour_03': 24,
  'hour_04': 19,
  'hour_05': 23,
  'hour_06': 25,
  'hour_07': 17,
  'hour_08': 12,
  'hour_09': 24,
  'hour_10': 23,
  'hour_11': 22,
  'hour_12': 22,
  'hour_13': 22,
  'hour_14': 25,
  'hour_15': 25,
  'hour_16': 21,
  'hour_17': 23,
  'hour_18': 23,
  'hour_19': 13,
  'hour_20': 28,
  'hour_21': 24,
  'hour_22': 22,
  'hour_23': 31,
  'total': 547,
  'num': '09'},
 {'year': '2022',
  'month': '08',
  'date': '09',
  'building_pk': 3,
  'hour_00': 22,
  'hour_01': 27,
  'hour_02': 21,
  'hour_03': 20,
  'hour_04': 30,
  'hour_05': 23,
  'hour_06': 28,
  'hour_07': 29,
  'hour_08': 29,
  'hour_09': 24,
  'hour_10': 28,
  'hour_11': 21,
  'hour_12': 19,
  'hour_13': 21,
  'hour_14': 28,
  'hour_15': 21,
  'hour_16': 38,
  'hour_17': 26,
  'hour_18': 19,
  'hour_19': 24,
  'hour_20': 32,
  'hour_21': 24,
  'hour_22': 32,
  'hour_23': 25,
  'total': 611,
  'num': '09'},
 {'year': '2022',
  'month': '08',
  'date': '09',
  'building_pk': 4,
  'hour_00': 30,
  'hour_01': 24,
  'hour_02': 30,
  'hour_03': 27,
  'hour_04': 32,
  'hour_05': 27,
  'hour_06': 25,
  'hour_07': 30,
  'hour_08': 24,
  'hour_09': 34,
  'hour_10': 21,
  'hour_11': 28,
  'hour_12': 27,
  'hour_13': 25,
  'hour_14': 24,
  'hour_15': 24,
  'hour_16': 32,
  'hour_17': 26,
  'hour_18': 24,
  'hour_19': 27,
  'hour_20': 30,
  'hour_21': 22,
  'hour_22': 22,
  'hour_23': 27,
  'total': 642,
  'num': '09'},
 {'year': '2022',
  'month': '08',
  'date': '09',
  'building_pk': 5,
  'hour_00': 25,
  'hour_01': 21,
  'hour_02': 19,
  'hour_03': 14,
  'hour_04': 25,
  'hour_05': 23,
  'hour_06': 30,
  'hour_07': 25,
  'hour_08': 23,
  'hour_09': 34,
  'hour_10': 33,
  'hour_11': 25,
  'hour_12': 21,
  'hour_13': 20,
  'hour_14': 27,
  'hour_15': 27,
  'hour_16': 26,
  'hour_17': 22,
  'hour_18': 29,
  'hour_19': 19,
  'hour_20': 27,
  'hour_21': 33,
  'hour_22': 17,
  'hour_23': 33,
  'total': 598,
  'num': '09'}]

In [77]:
import matplotlib.pyplot as plt

In [86]:
trashbin.plot(kind='pie')
plt.show()

ValueError: pie requires either y column or 'subplots=True'