In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

today = ''.join(str(datetime.date(datetime.today())).split('-'))
with open (f'log_dummy/20220501.log', encoding='UTF8') as f:
    records = [line.rstrip().split(' ') for line in f]
columns = ['date', 'time', 'building_pk', 'floor_pk', 'group_pk', 'token', 'trash_type']
df = pd.DataFrame(records, columns=columns)

In [2]:
df['hour'] = df.time.str[:2]

In [3]:
df['year'] = df.date.str[:4]

In [4]:
df['month'] = df.date.str[4:6]

In [5]:
df.date = df.date.str[6:]

In [6]:
right_data = df.drop_duplicates(subset=['token'])

In [7]:
left_data = df.groupby(['token', 'hour']).date.count().unstack(fill_value=0)

In [8]:
left_data.reset_index(inplace=True)

In [9]:
labels = ['token', 'hour_00','hour_01','hour_02','hour_03','hour_04','hour_05','hour_06','hour_07','hour_08','hour_09','hour_10','hour_11','hour_12','hour_13','hour_14','hour_15','hour_16','hour_17','hour_18','hour_19','hour_20','hour_21','hour_22','hour_23']

In [10]:
left_data.columns = labels

In [11]:
left_data['total'] = left_data.sum(numeric_only=True, axis=1)

In [12]:
new_df = left_data.merge(right_data, on='token')

In [23]:
new_df

,token,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,hour_06,hour_07,hour_08,...,total,date,time,building_pk,floor_pk,group_pk,trash_type,hour,year,month
0,1149,0,0,0,0,0,0,0,0,0,...,1,01,11:00:52,1,3,17,PET,11,2022,05
1,1150,0,0,0,1,0,0,1,0,0,...,3,01,06:01:50,1,3,17,PPR,06,2022,05
2,1152,0,0,0,0,0,0,0,0,0,...,1,01,18:31:48,1,3,18,CAN,18,2022,05
3,1153,0,1,0,0,0,0,0,0,0,...,1,01,01:04:40,1,3,18,GER,01,2022,05
4,1154,0,0,0,0,1,0,0,0,0,...,2,01,13:03:17,1,3,18,PPR,13,2022,05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,5B2304,0,0,0,0,0,0,0,0,0,...,4,01,15:09:00,5,19,102,CAN,15,2022,05
266,5B2305,0,0,0,0,0,0,0,0,0,...,2,01,15:04:20,5,19,102,PPR,15,2022,05
267,5B2307,0,0,0,0,0,0,0,1,1,...,4,01,21:15:23,5,19,103,PPR,21,2022,05
268,5B2308,0,0,0,1,0,0,0,0,0,...,4,01,14:23:01,5,19,103,PET,14,2022,05
269,5B2309,0,0,0,0,0,0,0,0,0,...,2,01,22:50:24,5,19,103,GLA,22,2022,05

In [14]:
types = new_df.drop(columns = ['hour_00','hour_01','hour_02','hour_03','hour_04','hour_05','hour_06','hour_07','hour_08','hour_09','hour_10','hour_11','hour_12','hour_13','hour_14','hour_15','hour_16','hour_17','hour_18','hour_19','hour_20','hour_21','hour_22','hour_23'])

In [26]:
trashbin= new_df.groupby(['year','month','date','building_pk', 'floor_pk','group_pk', 'token', 'trash_type']).sum().reset_index()

In [40]:
trashbin

,year,month,date,building_pk,floor_pk,group_pk,token,trash_type,hour_00,hour_01,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,total
0,2022,05,01,1,1,1,1B22,CAN,0,0,...,0,0,0,0,0,0,0,2,0,4
1,2022,05,01,1,1,1,1B23,PET,0,0,...,0,1,0,0,0,0,0,0,0,2
2,2022,05,01,1,1,2,1B24,GER,1,0,...,0,0,0,0,0,1,0,0,0,4
3,2022,05,01,1,1,2,1B26,PPR,0,0,...,0,0,0,0,0,0,0,1,0,2
4,2022,05,01,1,1,3,1B27,CAN,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,2022,05,01,5,22,115,52343,PET,0,0,...,0,1,0,0,0,0,0,0,1,2
266,2022,05,01,5,22,115,52344,GER,0,0,...,0,0,0,0,0,0,0,1,0,3
267,2022,05,01,5,22,115,52345,CAN,1,0,...,0,0,0,0,0,1,0,0,0,2
268,2022,05,01,5,22,116,52346,GER,0,1,...,0,0,0,1,0,0,0,0,0,5
269,2022,05,01,5,22,116,52348,GER,0,0,...,0,0,0,0,0,0,0,0,0,1

In [35]:
group_type = types.groupby(['year','month','date','building_pk', 'floor_pk','group_pk','trash_type']).total.sum().unstack(fill_value=0)

In [36]:
group_type.reset_index(inplace=True)

In [37]:
group_type.drop(columns = ['year', 'month', 'date', 'building_pk', 'floor_pk'], inplace=True)

In [38]:
group = new_df.groupby(['year','month','date','building_pk', 'floor_pk', 'group_pk']).sum().reset_index()
group = group.merge(group_type, on='group_pk')

In [39]:
group

,year,month,date,building_pk,floor_pk,group_pk,hour_00,hour_01,hour_02,hour_03,...,hour_20,hour_21,hour_22,hour_23,total,CAN,GER,GLA,PET,PPR
0,2022,05,01,1,1,1,0,0,0,0,...,0,0,2,0,6,4,0,0,2,0
1,2022,05,01,1,1,2,1,0,0,1,...,1,0,1,0,6,0,4,0,0,2
2,2022,05,01,1,1,3,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
3,2022,05,01,1,1,4,0,0,0,1,...,0,0,0,0,4,0,1,1,0,2
4,2022,05,01,1,1,5,0,0,0,0,...,1,0,0,0,5,0,0,0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,2022,05,01,5,21,112,0,0,0,0,...,0,1,0,0,4,2,0,0,0,2
112,2022,05,01,5,21,113,0,0,0,0,...,2,2,0,0,8,0,2,5,1,0
113,2022,05,01,5,22,114,0,1,0,1,...,1,0,0,0,4,3,0,1,0,0
114,2022,05,01,5,22,115,1,0,0,1,...,1,0,1,1,7,2,3,0,2,0
115,2022,05,01,5,22,116,0,1,0,0,...,0,0,0,0,6,0,6,0,0,0

In [ ]:
floor_type = types.groupby(['year','month','date','building_pk', 'floor_pk','trash_type']).total.sum().unstack(fill_value=0)

In [34]:
floor_type.reset_index(inplace=True)

In [30]:
floor_type.drop(columns = ['year', 'month', 'date', 'building_pk'], inplace=True)

In [31]:
floor = new_df.groupby(['year','month','date','building_pk', 'floor_pk']).sum().reset_index()
floor = floor.merge(floor_type, on='floor_pk')

In [32]:
floor

,year,month,date,building_pk,floor_pk,hour_00,hour_01,hour_02,hour_03,hour_04,...,hour_20,hour_21,hour_22,hour_23,total,CAN,GER,GLA,PET,PPR
0,2022,05,01,1,1,4,0,2,2,2,...,2,0,4,0,33,8,6,2,7,10
1,2022,05,01,1,2,4,2,3,2,0,...,1,2,2,2,39,9,12,8,2,8
2,2022,05,01,1,3,0,1,0,2,2,...,1,0,1,2,21,8,2,0,1,10
3,2022,05,01,2,4,1,2,1,0,0,...,2,1,1,0,19,1,5,3,4,6
4,2022,05,01,2,5,2,0,1,0,0,...,2,0,0,0,12,2,2,7,1,0
5,2022,05,01,2,6,1,1,3,1,1,...,0,1,1,3,19,0,5,3,5,6
6,2022,05,01,2,7,1,0,1,1,0,...,1,0,0,0,18,7,3,3,2,3
7,2022,05,01,2,8,1,0,1,0,0,...,1,0,2,1,13,1,5,1,1,5
8,2022,05,01,2,9,0,0,0,1,1,...,0,2,0,2,30,7,2,4,7,10
9,2022,05,01,3,10,0,0,0,1,1,...,1,2,1,1,14,3,0,7,4,0
10,2022,05,01,3,11,0,1,1,0,1,...,1,2,1,1,20,9,1,4,1,5
11,2022,05,01,3,12,0,1,0,1,2,...,0,1,0,0,21,5,4,6,2,4
12,2022,05,01,3,13,2,0,0,2,0,...,1,1,1,1,20,5,0,9,0,6
13,2022,05,01,3,14,0,1,1,0,0,...,0,1,0,0,10,0,5,2,0,3
14,2022,05,01,3,15,0,3,2,1,3,...,0,1,2,2,19,11,1,6,1,0
15,2022,05,01,3,16,3,0,1,0,1,...,2,3,2,1,27,0,7,11,4,5
16,2022,05,01,4,17,1,0,0,1,3,...,3,0,1,0,34,1,2,15,8,8
17,2022,05,01,4,18,0,0,2,3,0,...,1,1,0,0,24,2,6,8,4,4
18,2022,05,01,5,19,2,2,1,1,1,...,0,2,1,0,40,7,3,14,4,12
19,2022,05,01,5,20,0,1,0,0,1,...,0,1,0,0,12,4,2,1,3,2
20,2022,05,01,5,21,1,0,0,0,0,...,2,6,3,2,38,2,8,13,10,5
21,2022,05,01,5,22,1,2,0,2,0,...,2,0,1,1,17,5,9,1,2,0

In [22]:
floor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 0 to 21
Data columns (total 35 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         22 non-null     object
 1   month        22 non-null     object
 2   date         22 non-null     object
 3   building_pk  22 non-null     object
 4   floor_pk     22 non-null     object
 5   hour_00      22 non-null     int64
 6   hour_01      22 non-null     int64
 7   hour_02      22 non-null     int64
 8   hour_03      22 non-null     int64
 9   hour_04      22 non-null     int64
 10  hour_05      22 non-null     int64
 11  hour_06      22 non-null     int64
 12  hour_07      22 non-null     int64
 13  hour_08      22 non-null     int64
 14  hour_09      22 non-null     int64
 15  hour_10      22 non-null     int64
 16  hour_11      22 non-null     int64
 17  hour_12      22 non-null     int64
 18  hour_13      22 non-null     int64
 19  hour_14      22 non-null     int64
 20  hour_15      22 non-null     int64
 21  hour_16      22 non-null     int64
 22  hour_17      22 non-null     int64
 23  hour_18      22 non-null     int64
 24  hour_19      22 non-null     int64
 25  hour_20      22 non-null     int64
 26  hour_21      22 non-null     int64
 27  hour_22      22 non-null     int64
 28  hour_23      22 non-null     int64
 29  total        22 non-null     int64
 30  CAN          22 non-null     int64
 31  GER          22 non-null     int64
 32  GLA          22 non-null     int64
 33  PET          22 non-null     int64
 34  PPR          22 non-null     int64
dtypes: int64(30), object(5)
memory usage: 6.2+ KB

In [101]:
building_type = types.groupby(['year','month','date','building_pk','trash_type']).total.sum().unstack(fill_value=0)

In [102]:
building_type.reset_index(inplace=True)

In [103]:
building_type.drop(columns = ['year', 'month', 'date'], inplace=True)

In [104]:
building = new_df.groupby(['year','month','date','building_pk']).sum().reset_index()
building.merge(building_type, on='building_pk')

,year,month,date,building_pk,hour_00,hour_01,hour_02,hour_03,hour_04,hour_05,...,hour_20,hour_21,hour_22,hour_23,total,CAN,GER,GLA,PET,PPR
0,2022,05,01,1,6,9,8,7,5,4,...,11,5,7,9,170,48,28,28,23,43
1,2022,05,01,2,8,12,10,11,10,10,...,10,14,10,11,244,44,35,64,43,58
2,2022,05,01,3,16,14,15,6,15,12,...,14,10,18,12,298,46,57,94,48,53
3,2022,05,01,4,2,7,2,5,8,4,...,4,7,3,3,105,12,21,30,9,33
4,2022,05,01,5,11,7,7,6,10,9,...,6,5,5,7,183,33,45,46,26,33

In [1]:
import pandas as pd

In [4]:
from .models import *

ImportError: attempted relative import with no known parent package